<div class="container">
  <div class="row" id="bottom">
    <div class="col-md-4">
      {{!-- offset space --}}
    </div>

    <div class="col-md-4">
      <img src="/assets/img/Krabby_Patty.png" id="krab" alt="Krabby-Patty">
      <h1>Eat-Da-Burger!</h1>
    </div>
  </div>
    <hr>

<div class="row">
  <div class="col-md-1">
    {{!-- offset space --}}
  </div>

  <div class="col-md-5">
    <h2>Burgers!</h2>

    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true }}
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-md-5">
    <h2>DEVOURED!</h2>

    <ul>
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=false state=devoured}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
    <hr>

<div class="row" id="bottom">
  <div class="col-md-4">
    {{!-- offset space --}}
  </div>

  <div class="col-md-4">
    
    <form class="create-form">

      <div class="form-group">
        <label for="ca"></label>
        <textarea class="form-control" rows="5" placeholder="Enter a burger you want to eat, Click the Submit button" id="ca"></textarea>
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
</div>