<div class="container">
  <div class="row">
    <div class="col-md-4">
      {{!-- offset space --}}
    </div>

    <div class="col-md-6">
      <img src="/assets/img/Krabby_Patty.png" id="krab" alt="Krabby-Patty">
      <h1>Eat-Da-Burger!</h1>
    </div>

  </div>

<div class="row">
  <div class="col-md-2">
    {{!-- offset space --}}
  </div>

  <div class="col-md-4">
    <h2>Burgers!</h2>

    <ul>
      {{#each burgers}}
        {{#unless devoured}}
          {{> burgers/burger-block devoured=true }}
        {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div class="col-md-4">
    <h2>DEVOURED!</h2>

    <ul>
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    {{!-- offset space --}}
  </div>

  <div class="col-md-6">
    <h2>Add-Da-Burger!</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger:</label>
        <input type="text" id="ca" name="name">
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
</div>
</div>